<section class="index-page">
  <p>Please authorize before using this site</p>

  <a class="loginBtn loginBtn--google" href="/auth/google">
    Login with Google
  </a>
  <a href="https://accounts.google.com/logout">Logout from Google</a>
</section>