<section class="index-page">
    <img class="avatar" src="{{ userData.avatar }}" alt="User Avatar">
    <h1>Hello {{ userData.username }}</h1>
    <a href="/auth/logout">
        Log out from App
    </a>
</section>