<section class="index-page">
  <p>You have succesfully logged out of the application</p>
  <a href="https://accounts.google.com/logout">
    Logout from google account
  </a><br />
  <a href="/">
    Back to main page
  </a>
</section>